<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>nikipore.alfredpython</string>
	<key>createdby</key>
	<string>Jan Müller</string>
	<key>description</key>
	<string>Python library for Alfred workflow API</string>
	<key>name</key>
	<string>alfred-python</string>
	<key>webaddress</key>
	<string>https://github.com/nikipore/alfred-python</string>
</dict>
</plist>
